
div {
    text-align: center;
    max-width: 1600px;
    margin: 0 auto
  }
nav {
    text-align:center;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:#0E6CEE;
}
nav a{
    color: #0E6CEE
}
nav a:hover {
    background-color: #0E6CEE;
    color: #2A2D34;
    text-decoration: none;
}
.home-title{
    color: black
}
h4{
    color:#0E6CEE
}
.book, .join{
    background-color: #0E6CEE;
    color: #2A2D34;
    text-decoration: none;
}

.book:hover, .join:hover{
    background-color: white;
    color:black
}
.msg h2{
    color: #0E6CEE;
}
.msg p{
    color: #0E6CEE;
}

#background{
    background-color: white;
}

.msg{
    background-color: #FF5964;
}

footer{
    background-color: #0E6CEE;
    color: black;
    text-decoration: none;
}
footer a{
    color: #FF5964;
}
footer a:hover{
    color:#0E6CEE
}
.icon {
    width: 80px;
}
footer p {
    font-size: 1.2em;
}   
footer p a:hover {
    text-decoration: underline;
}    
                    